services:
  app:
    image: ghcr.io/rainbowdashlabs/krile:latest
    networks:
      - krile
    depends_on:
      - postgres
    volumes:
      - ./config/:/app/config/
  postgres:
    networks:
      - krile
    image: postgres:16.1
    expose:
      - 5432
    volumes:
      - db_data:/var/lib/postgres/data
    environment:
      POSTGRES_USER: "krile"
      POSTGRES_PASSWORD: "password"
      POSTGRES_DB: "krile"

networks:
  krile:
    name: krile
    external: false

volumes:
  db_data:
