name: Verify

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Gradle build

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: gradle/wrapper-validation-action@v1
      - name: Set up JDK 20
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 20
      - name: Build with Gradle
        run: ./gradlew --build-cache build
      - name: Test with Gradle
        run: ./gradlew test --info


#  build-docker:
#    runs-on: ubuntu-latest
#    name: Docker build
#
#    steps:
#      - uses: actions/checkout@v3
#      - name: Build as Docker image
#        run: docker build .
